**Bachelorproject**

In [21]:
import yfinance as yf
import numpy as np

In [37]:
yf.Ticker('aapl').history(start='2010-01-01', end='2020-01-01')

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
2009-12-31   26.43   26.46   26.11   26.13   88102700        0.0           0.0
2010-01-04   26.47   26.60   26.34   26.54  123432400        0.0           0.0
2010-01-05   26.61   26.73   26.44   26.58  150476200        0.0           0.0
2010-01-06   26.58   26.69   26.13   26.16  138040000        0.0           0.0
2010-01-07   26.26   26.29   25.92   26.11  119282800        0.0           0.0
...            ...     ...     ...     ...        ...        ...           ...
2019-12-24  284.02  284.22  282.25  283.60   12119700        0.0           0.0
2019-12-26  284.15  289.29  284.03  289.22   23280300        0.0           0.0
2019-12-27  290.43  293.27  287.44  289.11   36566500        0.0           0.0
2019-12-30  288.77  292.00  284.54  290.83   36028600        0.0           0.0
2019-12-31  289.24  292.98  288.83  292.95   25201400        0.0           0.0

[2517 rows x 7 columns]