**Niks Pille**

All Tickers

In [9]:
#Getting all tickers in a list
All_Tickers = []
for i in range(4521):
    All_Tickers.append(Only_Common_Stocks['symbol'][i])

Creating 'Stock_With_All_Data'

In [171]:
Stocks_With_All_Data = []
for i in range(4521):
    if len(yf.Ticker(All_Tickers[i]).history(start='2000-01-02', end='2020-01-01')[['Close']]) == 5031:
        Stocks_With_All_Data.append(All_Tickers[i])

- AGM.A: No data found, symbol may be delisted
- ALUS: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- AMHC: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- ARQT: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- BATL: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- BDTX: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- BEAM: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- BF.A: No data found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted
- BH.A: No data found, symbol may be delisted
- BIO.B: No data found for this date range, symbol may be delisted
- BRK.A: No data found, symbol may be delisted
- BRK.B: No data found, symbol may be delisted
- BSBK: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- BWL.A: No data found, symbol may be delisted
- CHPM: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- CIIC: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- CRD.A: No data found, symbol may be delisted
- CRD.B: No data found, symbol may be delisted
- CSPR: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- CWEN.A: No data found, symbol may be delisted
- GEF.B: No data found for this date range, symbol may be delisted
- GRIL: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- GTN.A: No data found, symbol may be delisted
- HCCO: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- HEI.A: No data found, symbol may be delisted
- HVT.A: No data found, symbol may be delisted
- JW.A: No data found, symbol may be delisted
- JW.B: No data found, symbol may be delisted
- LEN.B: No data found for this date range, symbol may be delisted
- LGF.A: No data found, symbol may be delisted
- LIVK: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- MKC.V: No data found, symbol may be delisted
- MOG.A: No data found, symbol may be delisted
- MOG.B: No data found, symbol may be delisted
- NREF: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- ONEM: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- ONEW: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- PPD: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- PTAC: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- REYN: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- RVMD: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- SAQN: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- SDGR: Data doesn't exist for startDate = 946767600, endDate = 1577833200
- SRAC: No data found for this date range, symbol may be delisted
- STZ.B: No data found for this date range, symbol may be delisted
- SVA: No data found, symbol may be delisted
- TAP.A: No data found, symbol may be delisted
- WSO.B: No data found, symbol may be delisted
- ZCMD: No data found, symbol may be delisted

In [186]:
with open('Stocks_With_Data.csv','w',newline='') as file:
    wr = csv.writer(file, quoting=csv.QUOTE_ALL)
    wr.writerow(Stocks_With_All_Data)

# Bachelorproject

Documentation:  
https://addisonlynch.github.io/iexfinance/stable/stocks.html  
https://github.com/ranaroussi/yfinance

## Getting Data

In [1]:
#All packages used
from iexfinance.stocks import Stock
from iexfinance.refdata import get_symbols
import yfinance as yf
import numpy as np
import pandas as pd
import csv
token = 'sk_32c5d1b5f6b044f294391ae88eac3e47'

In [2]:
with open('Stocks_With_Data.csv',newline='') as file:
    reader = csv.reader(file)
    Stocks_With_All_Data = list(reader)

In [5]:
#Russell3000 is used as the market rate since it covers 98% of the American market
Russell_3000 = yf.Ticker('^RUA').history(start='2000-01-02', end='2020-01-01')[['Close']]

In [8]:
#Get a table with everything on the financial markets in USA
Alle_symboler = get_symbols(output_format='pandas', token=token)
#Sorting out all the non common stocks
Only_Common_Stocks = get_symbols()[get_symbols().type == 'cs'].reset_index(drop=True)

In [10]:
#Drawing 300 random stocks for which to be analyzed
Stocks = []
np.random.seed(2020)
for i in range(300):
    Stocks.append(Stocks_With_All_Data[0][np.random.randint(0,len(Stocks_With_All_Data[0]))])

Stocks.sort()

### Adjusting so all data match with no missing values

In [11]:
#DTB3 is taken from https://fred.stlouisfed.org/
DTB3 = pd.read_csv('DTB3.csv', index_col = 0)
#Using Apple as a benchmark
aapl = yf.Ticker('aapl').history(start='2000-01-02', end='2020-01-01')[['Close']]
#Getting dates from Apple
Dates = []
for i in range(len(aapl)):
    if str(aapl.index[i])[:10] in DTB3.index:
        Dates.append(str(aapl.index[i])[:10])
#Sorting out missing values
Three_Month_Treasury_Bill = DTB3.loc[Dates][DTB3.loc[Dates].DTB3 != '.']
#Creating a csv-file with the Three Month Treasury Bill
Three_Month_Treasury_Bill.to_csv('Three_Month_Treasury_Bill.csv')

In [113]:
Risk_Free_Rate = pd.read_csv('Three_Month_Treasury_Bill.csv', index_col=0)

In [114]:
Risk_Free_Rate

            DTB3
DATE
2000-01-03  5.27
2000-01-04  5.27
2000-01-05  5.28
2000-01-06  5.25
2000-01-07  5.22
...          ...
2019-12-24  1.55
2019-12-26  1.55
2019-12-27  1.54
2019-12-30  1.54
2019-12-31  1.52

[4994 rows x 1 columns]