**Bachelorproject**

In [1]:
import yfinance as yf
import numpy as np
import pandas as pd

In [40]:
yf.Ticker('aapl')

yfinance.Ticker object <AAPL>

In [27]:
yf.Ticker('anet').history(start='2000-01-02')

              Open    High     Low   Close   Volume  Dividends  Stock Splits
Date
2014-06-06   55.25   60.00   55.00   55.00  7255100          0             0
2014-06-09   56.25   57.00   55.00   55.20   716900          0             0
2014-06-10   55.25   60.00   55.25   60.00   986800          0             0
2014-06-11   60.00   63.50   58.66   63.50   660500          0             0
2014-06-12   63.65   67.83   63.07   66.00   729300          0             0
...            ...     ...     ...     ...      ...        ...           ...
2020-02-12  231.83  235.18  231.03  234.46   836200          0             0
2020-02-13  232.50  241.35  232.40  237.62  1531200          0             0
2020-02-14  217.50  227.00  217.00  223.47  2114500          0             0
2020-02-18  223.18  226.30  220.39  225.79   861000          0             0
2020-02-19  225.97  227.01  223.03  224.89   659166          0             0

[1436 rows x 7 columns]

In [6]:
yf.Ticker('aapl').history(start='2000-01-02', end='2020-01-01')

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
2000-01-03    3.25    3.49    3.15    3.47  133949200        0.0           0.0
2000-01-04    3.36    3.43    3.14    3.18  128094400        0.0           0.0
2000-01-05    3.22    3.43    3.19    3.22  194580400        0.0           0.0
2000-01-06    3.29    3.32    2.95    2.95  191993200        0.0           0.0
2000-01-07    2.99    3.13    2.96    3.08  115183600        0.0           0.0
...            ...     ...     ...     ...        ...        ...           ...
2019-12-24  284.02  284.22  282.25  283.60   12119700        0.0           0.0
2019-12-26  284.15  289.29  284.03  289.22   23280300        0.0           0.0
2019-12-27  290.43  293.27  287.44  289.11   36566500        0.0           0.0
2019-12-30  288.77  292.00  284.54  290.83   36028600        0.0           0.0
2019-12-31  289.24  292.98  288.83  292.95   25201400        0.0           0.0

[5031 rows x 7 columns]

In [19]:
Three_Month_Treasury_Bill = pd.read_csv('DTB3.csv', index_col = 0)

In [20]:
Three_Month_Treasury_Bill

             DTB3
DATE
2000-01-03  5.270
2000-01-04  5.270
2000-01-05  5.280
2000-01-06  5.250
2000-01-07  5.220
...           ...
2019-12-25      .
2019-12-26   1.55
2019-12-27   1.54
2019-12-30   1.54
2019-12-31   1.52

[5217 rows x 1 columns]